@import "compass";

* {
  @include box-sizing(border-box);
}

//This is where any styling specific to the component playground should go.
@import "alchemy/alchemy";
@import "alchemy/normalize";

$link_color: #000;

@import "main";

body {
  height: 3000px;
}

.logo {
  height: 25px;
}
