$nav-header_background:           orange !default;
$logo-header_background:          darken($nav-header_background, 10%) !default;
$menu-item_hover:                 darken($nav-header_background, 10%) !default;
$link_color:                      rgb(112, 112, 112) !default;
$link-hover_color:                darken($link_color, 80%) !default;
$link-border_color:               orange !default;
$dropdown-link-hover_background:  #000 !default;

.left { float: left; }
.right { float: right; }

.logo-header {
  height: 35px;
  background-color: $logo-header_background;
  z-index: 100;
  line-height: 35px;

  .logo {
    margin-left: 30px;
  }

  .menu-container {
    line-height: 35px;

    .menu-item {
      line-height: 35px;

      .menu-item-link {  
        white-space: nowrap; 
        text-overflow: ellipsis;
        @include transition( all .15s ease-in);
        text-align: center;
        text-transform: capitalize; 
        font-family: overpass, sans-serif, sans; 
        text-decoration: none;
        margin: 0 auto; 

        &:hover { 
          @include transition( all 0.15s ease-in-out);

          color: $link-hover_color;
          background: darken($logo-header_background, 10%);
        }

        &.active-item {
          color: $link-hover_color;
          background: darken($logo-header_background, 10%);
        } 
      }
    }
  } 
  .menu-item .dropdown {
    top: 36px;
    border-top: none;
  }

  .dropdown-active {
    box-shadow: none;
  }
}

.nav-header {
  min-height: 40px;
  background: $nav-header_background;
  border-bottom: 3px solid rgb(206, 206, 206);

  .menu-item {
    font-family: Overpass;
    line-height: 45px;
    vertical-align: baseline;
    font-size: 14px;
    position: relative;

    .menu-item-link {  
      white-space: nowrap; 
      text-overflow: ellipsis;
      @include transition( all .15s ease-in);
      text-align: center;
      text-transform: capitalize; 
      font-family: overpass, sans-serif, sans; 
      text-decoration: none;
      margin: 0 auto; 

      color: $link_color;
        
      &:hover { 
        @include transition( all 0.15s ease-in-out);

        border-bottom: 3px solid $link-border_color;
        color: $link-hover_color;
        background: darken($nav-header_background, 10%);
      }

      &.active-item {
        color: $link-hover_color;
        border-bottom: 3px solid $link-border_color;
        background: darken($nav-header_background, 10%);
      } 
    }
  }
}

.menu-container {
  position: relative;
  left: 0;
  display: block;
  float: left;
  margin: 0;
  list-style: none;
  line-height: 40px;

  .menu-item {
    line-height: 40px;
    position: relative;
    margin: 0 .5em;
    float: left;

    .menu-item-link {
      float: none;
      padding: 0 1em;
      text-decoration: none;
      display: block;
      cursor: default;
    }
  }
}

.menu-dropdown {
  background: white;
  position: absolute;
  z-index: 1;
}

.compact{
  position:fixed; 
  vertical-align:middle;
  top: 0; 
  padding:0;  
  margin: 0; 
  width: 100%; 
  z-index: 100;
}

.right .menu-item .dropdown {
  right: -1px;
}

.dropdown {
  position: absolute;
  top: 42px;
  float: left;
  min-width: 220px;
  display: none;
  list-style: none;
  border-radius: 0 0 3px 3px;
  border-top: none;
  padding: 0;
  @include background-clip(padding-box);
  z-index: 3;
  border: 1px solid #C8C8C8;
  box-shadow: 0px 1px 5px #C8C8C8;
  background: white;
  opacity: 1;

  .dropdown-highlight {
  }

  li {
    text-align: left;
    line-height: 35px;
    position: relative;
    display: block;
    clear: both;
    
    a, a:visited, a:active, a:link { 
      color: #000;
      text-decoration: none;
      display: block;
      padding: 5px 0px 5px 20px;
    }

    &:hover {
      background: $dropdown-link-hover_background;

      .dropdown-menu-item-link  {
        text-decoration: none;
        color: $link-hover_color;
      }
    }
  }
}

.dropdown-left {
  left: 0;
}

.dropdown-right {
  right: 0;
}

.dropdown-active {
  @include transition(all 0.4s ease-in);
  display: block;
}

.flyout-indicator {
  margin-top: 10px;
  float: right;
  margin-right: 5px;
}

.flyout {
  padding: 0;
  list-style: none;
  position: absolute;
  top: -1px;
  left: 220px;
  min-width: 250px;
  border: 1px solid #C8C8C8;
  border-radius: 0 3px 3px 3px;
  box-shadow: 1px 0px 5px #C8C8C8;
  z-index: 2;
  background: white;

  li {
    text-align: left;
    line-height: 35px;
    position: relative;
    display: block;
    clear: both;
    
    a, a:visited, a:active, a:link { 
      color: #000;
      text-decoration: none;
      display: block;
      padding: 5px 0px 5px 20px;
    }

    &:hover {
      background: $dropdown-link-hover_background;

      a, a:visited, a:active, a:link  {
        text-decoration: none;
        color: $link-hover_color;
      }
    }
  }
}
